@model IEnumerable<Scores.Models.Match>

@{
    ViewData["Title"] = "World Cup 2022";
}

<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.HomeTeam), 
                "ListView", new { sortOrder = ViewData["HomeTeamSort"] })
            </th>
            <th>
                
            </th>
            <th>

            </th>
            <th>
                
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.AwayTeam), 
                "ListView", new { sortOrder = ViewData["AwayTeamSort"] })
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Match item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                -
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>