@model List<List<Scores.Models.Team>>

@{
    ViewData["Title"] = "World Cup 22 Tables";
}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
                @foreach (var item in Model)
                {
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Group @(Model.IndexOf(item) + 1)
                    </a>
                </li>
            }
        </ul>
            @foreach (var league in Model)
            {
                        <div>
                            @*<div class="card">*@
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table-sm">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Team name</th>
                                                    <th>PL</th>
                                                    <th>W</th>
                                                    <th>D</th>
                                                    <th>L</th>
                                                    <th>GF</th>
                                                    <th>GA</th>
                                                    <th>GD</th>
                                                    <th>P</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var team in league)
                                                {
                                                    <tr>
                                                        <td>@team.TeamName</td>
                                                        <td>@team.Played</td>
                                                        <td>@team.MatchesWon</td>
                                                        <td>@team.MatchesDrawn</td>
                                                        <td>@team.MatchesLost</td>
                                                        <td>@team.GoalsFor</td>
                                                        <td>@team.GoalsAgainst</td>
                                                        <td>@team.GoalDifference</td>
                                                        <td>@team.Points</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            @*</div>*@
                        </div>
            }
        
    </div>
</div>